<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresLocalWorld</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModeCar</string>
		<string>MKDirectionsModeFerry</string>
		<string>MKDirectionsModeOther</string>
		<string>MKDirectionsModePedestrian</string>
		<string>MKDirectionsModePlane</string>
		<string>MKDirectionsModeRideShare</string>
		<string>MKDirectionsModeStreetCar</string>
		<string>MKDirectionsModeSubway</string>
		<string>MKDirectionsModeTaxi</string>
		<string>MKDirectionsModeTrain</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show places on the map.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your location to show places on the map.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use your photos so you can attach them to cards.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>We use your music library to show the song that is playing.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID to verify your identity securely.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use your microphone for voice-to-text input.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition for voice-to-text input.</string>
	<key>REVENUECAT_API_KEY</key>
	<string>$(REVENUECAT_API_KEY)</string>
	<key>MORY_API_SCHEME</key>
	<string>$(MORY_API_SCHEME)</string>
	<key>MORY_API_HOST</key>
	<string>$(MORY_API_HOST)</string>
	<key>MORY_API_PORT</key>
	<string>$(MORY_API_PORT)</string>
	<key>MORY_API_BASE_URL</key>
	<string>$(MORY_API_BASE_URL)</string>
	<key>REVENUECAT_ENTITLEMENT_ID</key>
	<string>$(REVENUECAT_ENTITLEMENT_ID)</string>
	<key>REVENUECAT_ENTITLEMENT_FALLBACK_IDS</key>
	<string>$(REVENUECAT_ENTITLEMENT_FALLBACK_IDS)</string>
	<key>REVENUECAT_OFFERING_ID</key>
	<string>$(REVENUECAT_OFFERING_ID)</string>
	<key>REVENUECAT_MONTHLY_PRODUCT_ID</key>
	<string>$(REVENUECAT_MONTHLY_PRODUCT_ID)</string>
	<key>REVENUECAT_YEARLY_PRODUCT_ID</key>
	<string>$(REVENUECAT_YEARLY_PRODUCT_ID)</string>
</dict>
</plist>
